version: "3.9"

services:
  db:
    image: mysql:8
    container_name: steam_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: steam_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    container_name: steam_pipeline
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app
    command: python main.py

  metabase:
    image: metabase/metabase:latest
    container_name: steam_metabase
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  mysql_data:
